<header class="site-header" role="banner">
    {% if site.data.nav.track == "home" %}
      {% assign homeClass = "router-link-active" %}
    {% elsif site.data.nav.track == "docs" and page.collection == "guide" %}
      {% assign guideClass = "router-link-active" %}
    {% elsif site.data.nav.track == "docs" and page.collection == "reference" %}
      {% assign referenceClass = "router-link-active" %}
    {% elsif site.data.nav.track == "blog" %}
      {% assign blogClass = "router-link-active" %}
    {% endif %}
    <nav>
      <div class="sidebar-button" onclick="$('nav.sidebar').toggleClass('visible')">
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" viewBox="0 0 448 512">
          <path fill="currentColor" d="M436 124H12c-6.627 0-12-5.373-12-12V80c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12z" class=""></path>
        </svg>
      </div>
      <div class="home-link">
        <a href="https://www.notionjs.com"><span class="site-name">Notion</a>
      </div>
      <ul id="desktop-site-nav">
        <li><a class="{{ homeClass }}" href="https://www.notionjs.com/">Home</a></li>
        <li><a class="{{ guideClass }}" href="https://docs.notionjs.com/guide/">Guide</a>
        <li><a class="{{ referenceClass }}" href="https://docs.notionjs.com/reference/">Reference</a>
        <li><a class="{{ blogClass }}" href="https://blog.notionjs.com">Blog</a>
        <li><a href="https://github.com/notion-cli/notion">GitHub <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" x="0px" y="0px" viewBox="0 0 100 100" width="15" height="15" class="icon outbound"><path fill="currentColor" d="M18.8,85.1h56l0,0c2.2,0,4-1.8,4-4v-32h-8v28h-48v-48h28v-8h-32l0,0c-2.2,0-4,1.8-4,4v56C14.8,83.3,16.6,85.1,18.8,85.1z"></path> <polygon fill="currentColor" points="45.7,48.7 51.3,54.3 77.2,28.5 77.2,37.2 85.2,37.2 85.2,14.9 62.8,14.9 62.8,22.9 71.5,22.9"></polygon></svg></a>
      </ul>
    </nav>
</header>
  